
exercises/kapitel1/1/index.html
exercises/kapitel1/1/jsconfig.json
exercises/kapitel1/1/libraries/p5.min.js
exercises/kapitel1/1/libraries/p5.sound.min.js
exercises/kapitel1/1/sketch.js
exercises/kapitel1/1/style.css
*.docx
book.md
kap1/kap1.docx
kap2/kap2.docx
out/forord/forord.html
out/gammeltstof/plan.html
out/kap1/kap1.html
out/kap10/kap10.html
out/kap11/kap11.html
out/kap12/kap12.html
out/kap13/kap13.html
out/kap14/kap14.html
out/kap15/kap15.html
out/kap16/kap16.html
out/kap17/kap17.html
out/kap2/kap2.html
out/kap3/kap3.html
out/kap4/kap4.html
out/kap5/kap5.html
out/kap6/kap6.html
out/kap7/kap7.html
out/kap8/kap8.html
out/kap9/kap9.html
out/main.html
out/README.html
out/sketches/sketches.html
run.bat
