
exercises/kapitel1/1/index.html
exercises/kapitel1/1/jsconfig.json
exercises/kapitel1/1/libraries/p5.min.js
exercises/kapitel1/1/libraries/p5.sound.min.js
exercises/kapitel1/1/sketch.js
exercises/kapitel1/1/style.css
